body {
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    color: #202020;
    margin: 0;

    h1 {
        font-size: 3em;
        margin-bottom: 50px;
        color: #426cb4;
        @media (max-width: 992px) {
            font-size: 2.4em;
            margin-bottom: 30px;
        }
    }

    h2 {
        font-size: 2em;
        text-decoration: none;
        color: #426cb4;
        margin-bottom: 40px;
        a {
            text-decoration: none;
            color: #426cb4;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        font-size: 1.8em;
        margin-top: 0;
    }

    .fs-18 {
        font-size: 18px;
    }

    button {
        cursor: pointer;
    }
    //header
    header {
        .logo {
            margin: 8px 0 8px 30px;
            @media (max-width: 700px) {
                img {
                    width: 110px;
                }
            }
        }
        .navbar {
            display: flex;
            align-items: center;
            position: relative;
            @media (max-width: 1400px) {
                justify-content: space-between;
            }
            .navbar-collapse {
                display: flex;
                align-items: flex-end;
                list-style-type: none;
                width: 100%;
                @media (max-width: 1400px) {
                    flex-direction: column;
                }
                input[type="checkbox"] {
                    display: none;
                }
                @media (max-width: 1400px) {
                    input[type="checkbox"]:checked ~ .menu {
                        display: block;
                    }
                }
                .hamburger {
                    display: none;
                    user-select: none;
                    cursor: pointer;
                    @media (max-width: 1400px) {
                        display: block;
                        margin-right: 20px;
                    }
                }
                .menu {
                    background: white;
                    display: flex;
                    gap: 1em;
                    list-style-type: none;
                    @media (max-width: 1400px) {
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 95px;
                        text-align: right;
                        padding: 16px 0px;
                        width: 100%;
                        opacity: 0.7;
                    }
                    @media (max-width: 700px) {
                        top: 65px;
                    }
                    li {
                        @media (max-width: 1400px) {
                            margin-bottom: 10px;
                        }
                    }
                }
                .nav-link {
                    margin-right: 15px;
                    font-size: 2.2em;
                    color: #426cb4;
                    font-weight: 500;
                    text-decoration: none;
                    @media (max-width: 1400px) {
                        margin-right: 30px;
                        padding-left: 20px;
                    }
                    @media (max-width: 1500px) {
                        font-size: 2.1em;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .header-img {
            min-height: 375px;
            overflow: hidden;
            object-fit: cover;
            background: linear-gradient(#2b384f59, #01010269), url(/drive2future/assets/img/headerbild.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: 90px;
            @media (max-width: 1500px) {
                min-height: 293px;
            }
            @media (max-width: 992px) {
                min-height: 250px;
            }
            @media (max-width: 700px) {
                min-height: 200px;
            }
        }
    }

    .container {
        padding: 0 180px;
        margin-bottom: 80px;
        @media (max-width: 1200px) {
            padding: 0 120px;
        }
        @media (max-width: 992px) {
            padding: 0 100px;
        }
        @media (max-width: 700px) {
            padding: 0 60px;
        }
        @media (max-width: 576px) {
            padding: 0 20px;
        }
        .upload {
            margin-bottom: 60px;
        }
        .file {
            width: -webkit-fill-available;
        }
        .app-item {
            display: flex;
            flex-direction: column;
            font-size: 1.8em;
            p {
                font-size: unset;
                margin-right: 15px;
            }

            @media (max-width: 1150px) {
                display: block;
                margin-bottom: 50px;
            }

            &.app-headlines {
                font-weight: bold;
                @media (max-width: 1150px) {
                    display: none;
                }
            }
            .app-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;

                @media (max-width: 1150px) {
                    display: block;

                    div {
                        margin-bottom: 15px;
                    }

                    .box-5,
                    .box-6 {
                        display: inline-block;
                        margin-right: 15px;
                        button {
                            background: none;
                            border: none;
                        }
                    }
                    span {
                        font-weight: bold;
                        width: 115px;
                        display: inline-block;
                    }
                }

                @media (min-width: 1151px) {
                    .box-1 {
                        width: 15%;
                    }
                    .box-2,
                    .box-3 {
                        width: 10%;
                    }
                    .box-5,
                    .box-6 {
                        width: 12%;
                    }
                    .box-4 {
                        width: 41%;
                    }
                    .box-33 {
                        width: 33%;
                    }
                    .box-25 {
                        width: 25%;
                    }
                    span {
                        display: none;
                    }
                }
                .toggle {
                    min-width: 100px;
                    font-size: 18px;
                    padding: 5px 15px;
                    display: inline;
                    margin-bottom: 0;
                }

                .box-33,
                .box-25 {
                    form {
                        display: inline;
                    }
                }

                .name {
                    width: 60%;
                }

                .download,
                .delete {
                    width: 20%;
                }
                .box-5,
                .box-6,
                .delete,
                .download {
                    button {
                        background: none;
                        border: none;
                    }
                }
            }
        }

        .app-overview {
            @media (min-width: 1151px) {
                .box-1,
                .box-2,
                .box-3 {
                    width: 15% !important;
                }
                .box-4 {
                    width: 55% !important;
                }
                span {
                    display: none;
                }
            }
        }
        .admin-overview {
            @media (min-width: 1519px) {
                .box-1 {
                    width: 11% !important;
                }
                .box-2 {
                    width: 7% !important;
                }
                .box-3 {
                    width: 7% !important;
                }
                .box-4 {
                    width: 28% !important;
                }
                .box-5 {
                    width: 15% !important;
                }
                .box-6 {
                    width: 15% !important;
                }
                .box-7 {
                    width: 10% !important;
                }
                .box-8 {
                    width: 7% !important;
                }
                span {
                    display: none;
                }
            }
            .app-item {
                @media (max-width: 1518px) {
                    display: block;
                    margin-bottom: 50px;
                    p {
                        display: inline;
                    }
                    div[class^="box-"]{
                        width: 100%;
                    }

                    .app-row {
                        display: block;
                        .box-5,
                        .box-6 {
                            display: block;
                        }

                        div {
                            margin-bottom: 15px;
                        }
                        span {
                            font-weight: bold;
                            width: 145px;
                            display: inline-block;
                        }
                    }
                    .box-7,
                    .box-8 {
                        display: inline;
                        form {
                            display: inline;
                            margin-right: 30px;
                        }
                    }
                }
                &.app-headlines {
                    @media (max-width: 1518px) {
                        display: none;
                    }
                }
                .box-7,
                .box-8 {
                    button {
                        border: none;
                        background: none;
                    }
                }
            }
        }

        .doc-item {
            display: flex;
            flex-direction: column;
            font-size: 1.8em;
            &.doc-headlines {
                font-weight: bold;
                @media (max-width: 700px) {
                    .download,
                    .delete {
                        display: none;
                    }
                }
            }

            .doc-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                .delete,
                .download {
                    button {
                        background: none;
                        border: none;
                    }
                }
                .name {
                    width: 55%;
                    span {
                        display: block;
                        padding-right: 15px;
                        word-break: break-all;
                    }
                }

                .download {
                    width: 30%;
                }
                .delete {
                    width: 15%;
                }
            }
        }

        .cl-item {
            display: flex;
            flex-direction: column;
            font-size: 1.8em;

            @media (max-width: 1150px) {
                display: block;
                margin-bottom: 50px;
            }

            &.cl-headlines {
                font-weight: bold;
                @media (max-width: 1150px) {
                    display: none;
                }
            }

            .cl-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;

                @media (max-width: 1150px) {
                    display: block;

                    div {
                        margin-bottom: 15px;
                    }

                    .box-5,
                    .box-6 {
                        display: inline-block;
                        margin-right: 15px;
                        button {
                            background: none;
                            border: none;
                        }
                    }
                    span {
                        font-weight: bold;
                        width: 185px;
                        display: inline-block;
                    }
                }

                @media (min-width: 1151px) {
                    .box-1 {
                        width: 25%;
                    }
                    .box-2 {
                        width: 25%;
                        form {
                            display: inline;
                        }
                    }
                    .box-3 {
                        width: 15%;
                    }
                    .box-4 {
                        width: 15%;
                    }
                    .box-5 {
                        width: 20%;
                    }
                    span {
                        display: none;
                    }
                }
                .box-2 {
                    form {
                        display: inline;
                    }
                }
                .box-5 {
                    form {
                        display: inline;
                    }
                    button {
                        background: none;
                        border: none;
                        padding: 0;
                        img {
                            vertical-align: bottom;
                        }
                    }
                }
                .toggle {
                    min-width: 100px;
                    font-size: 18px;
                    padding: 5px 15px;
                    display: inline;
                    margin-bottom: 0;
                }
                .status {
                    display: inline;
                    margin-right: 5px;
                }
            }
        }

        label {
            font-size: 1.8em;
            display: block;
            margin-bottom: 20px;
        }
        select {
            margin-bottom: 35px;
            font-size: 1.8em;
        }

        textarea {
            width: 50%;
            height: 150px;
            margin-bottom: 50px;
        }

        input {
            font-size: 1.8em;
            display: block;
            margin-bottom: 20px;
            width: 400px;
            @media (max-width: 700px) {
                min-width: 250px;
                width: unset;
            }
        }

        input[type="submit"] {
            width: fit-content;
            min-width: 250px;
            padding: 5px 40px;
            background-color: #304f84;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="reset"] {
            width: fit-content;
            min-width: 250px;
            padding: 5px 40px;
            background-color: #525252;
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    footer {
        padding: 0 180px;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #d6d6d6;
        @media (max-width: 1200px) {
            padding: 0 120px;
        }
        @media (max-width: 992px) {
            padding: 0 100px;
        }
        @media (max-width: 700px) {
            padding: 0 60px;
        }
        @media (max-width: 576px) {
            padding: 0 20px;
        }
        .company-info {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 20px;
            @media (max-width: 800px) {
                flex-direction: column;
            }
            a {
                color: #202020;
                display: block;
            }
            @media (max-width: 800px) {
                .company,
                .contact {
                    margin-bottom: 20px;
                }
            }
        }
        .copy {
            font-size: 1.5em;
            padding-bottom: 15px;
        }
    }
}

th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000000;
    width: auto;
}
