body {
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    color: #202020;
    margin: 0;

    h1 {
        font-size: 3em;
        margin-bottom: 50px;
        color: #426cb4;
        @media (max-width: 992px) {
            font-size: 2.4em;
            margin-bottom: 30px;
        }
    }

    h2 {
        font-size: 2em;
        text-decoration: none;
        color: #426cb4;
        margin-bottom: 40px;
        a{
            text-decoration: none;
            color: #426cb4;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    p {
        font-size: 1.8em;
        margin-top: 0;
    }
    //header
    header {
        .logo {
            margin: 8px 120px 8px 30px;
            @media (max-width: 700px) {
                img {
                    width: 110px;
                }
            }
        }
        .navbar {
            display: flex;
            align-items: center;
            position: relative;
            @media (max-width: 1400px) {
                justify-content: space-between;
            }
            .navbar-collapse {
                display: flex;
                align-items: flex-end;
                list-style-type: none;
                width: 100%;
                @media (max-width: 1400px) {
                    flex-direction: column;
                }
                input[type="checkbox"] {
                    display: none;
                }
                @media (max-width: 1400px) {
                    input[type="checkbox"]:checked ~ .menu {
                        display: block;
                    }
                }
                .hamburger {
                    display: none;
                    user-select: none;
                    cursor: pointer;
                    @media (max-width: 1400px) {
                        display: block;
                        margin-right: 20px;
                    }
                }
                .menu {
                    background: white;
                    display: flex;
                    gap: 1em;
                    list-style-type: none;
                    @media (max-width: 1400px) {
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 95px;
                        text-align: right;
                        padding: 16px 0px;
                        width: 100%;
                        opacity: 0.7;
                    }
                    @media (max-width: 700px) {
                        top: 73px;
                    }
                    li {
                        @media (max-width: 1400px) {
                            margin-bottom: 15px;
                        }
                    }
                }
                .nav-link {
                    margin-right: 35px;
                    font-size: 2.4em;
                    color: #426cb4;
                    font-weight: 500;
                    text-decoration: none;
                    @media (max-width: 1400px) {
                        margin-right: 30px;
                        padding-left: 20px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .header-img {
            min-height: 293px;
            overflow: hidden;
            object-fit: cover;
            background: linear-gradient(#2b384f59, #01010269), url(/drive2future/assets/img/headerbild.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: 90px;
            @media (max-width: 992px) {
                min-height: 250px;
            }
            @media (max-width: 700px) {
                min-height: 200px;
            }
        }
    }

    .container {
        padding: 0 240px;
        margin-bottom: 80px;
        @media (max-width: 1200px) {
            padding: 0 120px;
        }
        @media (max-width: 992px) {
            padding: 0 100px;
        }
        @media (max-width: 700px) {
            padding: 0 60px;
        }
        @media (max-width: 576px) {
            padding: 0 20px;
        }
        .app-item {
            display: flex;
            flex-direction: column;
            font-size: 1.8em;
            .app-row {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                .box-1,
                .box-2,
                .box-3,
                .box-5,
                .box-6 {
                    width: 130px;
                }
                .box-4 {
                    width: 450px;
                }
                span {
                    display: none;
                }
            }
        }

        label {
            font-size: 1.8em;
            display: block;
        }

        input {
            font-size: 1.8em;
            display: block;
            margin-bottom: 20px;
            width: 400px;
        }

        input[type="submit"] {
            width: fit-content;
            min-width: 200px;
            padding: 5px 40px;
            background-color: #304f84;
            color: white;
            border: none;
        }
    }

    footer {
        padding: 0 260px;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #d6d6d6;
        @media (max-width: 1200px) {
            padding: 0 120px;
        }
        @media (max-width: 992px) {
            padding: 0 100px;
        }
        @media (max-width: 700px) {
            padding: 0 60px;
        }
        @media (max-width: 576px) {
            padding: 0 20px;
        }
        .company-info {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 20px;
            @media (max-width: 800px) {
                flex-direction: column;
            }
            a {
                color: #202020;
                display: block;
            }
            @media (max-width: 800px) {
                .company,
                .contact {
                    margin-bottom: 20px;
                }
            }
        }
        .copy {
            font-size: 1.5em;
            padding-bottom: 15px;
        }
    }
}

th,
td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000000;
    width: auto;
}
